@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*, 
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  /* ## Colors */

  /* ### Primary */
  
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Blue-Shadow: hsla(231, 69%, 60%,0.1);
  --Soft-Red: hsl(0, 94%, 66%);
  
  /* ### Neutral */
  --Grayish-Blue: hsl(229, 8%, 60%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);
  --Very-Dark-Blue-nav: hsla(229, 31%, 21%, 0.85);

  --Font-size: 18px;
  --Font-family: 'Rubik', sans-serif;;
}
html{
  overflow-x: hidden;
}
body{
  font-size: var(--Font-size);
  font-family: var(--Font-family);
  overflow-x: hidden;
  color: var(--Grayish-Blue);
}

h1, h2, h3, h4, h5{
  color: var(--Very-Dark-Blue);
  font-weight: 500;
}

.btn{
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  width: fit-content;
  transition: all .3s;
}

.btn-primary{
  background: var(--Soft-Red);
  color: var(--White);
  border: 2px solid transparent;
}
.btn-primary:hover{
  background: var(--White);
  color: var(--Soft-Red);
  border: 2px solid var(--Soft-Red);
}
.btn-blue{
  background: var(--Soft-Blue);
  color: var(--White);
  border: 2px solid transparent;
}
.btn-blue:hover{
  background: var(--White);
  color: var(--Soft-Blue);
  border: 2px solid var(--Soft-Blue);
}

.btn-white{
  background: var(--White);
  color: var(--Soft-Blue);
  border: 2px solid transparent;
  box-shadow: 2px 5px 12px 1px var(--Soft-Blue-Shadow);
}

@media screen and (max-width: 720px) {
  .btn-login{
    width: 100%;
    background: transparent;
    border: 2px solid var(--White);
  }

  header nav .btn__wrapper{
    width: 100%;
  }
}


header, .section{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

nav{
  padding: 3rem 1rem;
}

nav, .container{
  max-width: 1200px;
  width: 100%;
}



nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav .logo{
  padding-right: 1rem;
}

@media screen and (max-width: 720px) {
  nav .logo{
      text-align: start;
      position: relative;
      z-index: 5;  
  }
}

.menu-icon{
  display: none;
}
.nav-list__container{
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 15px;
  z-index: 4;
}

@media screen and (max-width: 720px) {
  .menu-icon{
    display: block;
    z-index: 5;
  }
  .nav-list__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    padding-top: 8.5rem;
    z-index: 4;
    background: var(--Very-Dark-Blue-nav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

  }
  
}


@media screen and (max-width: 720px) {
  .hide{
    display: none;
  }
  
}

.nav-list{
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .nav-list{
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  
}

.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Dark-Blue);
  transition: all .3s;
}
.nav-link:hover{
  color: var(--Soft-Red);
}

@media screen and (max-width: 720px) {
  header .nav-link{
    width: 100%;
    color: var(--White);
    border-top: 1px solid var(--White);
    padding-top: 1.5rem;
  }
  header .nav-link:last-child{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--White);
  }
  
}

.socials__wrapper{
  display: none;
}

@media screen and (max-width: 720px) {
  .socials__wrapper{
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
}

.section {
  padding: 4rem 1rem;
}

.section p{
  line-height: 1.85rem;
}


/* ======== Hero Section =========  */
.section__hero .container{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .section__hero .container{
    flex-direction: column-reverse;
  }
}

.section__hero-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

@media screen and (max-width: 720px) {
  .section__hero-text{
    margin-top: 2rem;
    text-align: center;
  }
} 
.section__hero-text .btn__wrapper{
  display: flex;
  gap: 1.5rem;
}


@media screen and (max-width: 720px) {
  .section__hero-text .btn__wrapper{
    margin-top: 2rem;
    justify-content: center;
  }
}
.section__hero-text h1{
  font-size: 2.85rem;
}
@media screen and (max-width: 720px) {
  .section__hero-text h1{
    font-size: 2.05rem;
  }
}

.section__hero-img{
  position: relative;
  flex: 1;
}

.section__hero-img img{
  position: relative;
  z-index: 3;
  width: 100%;
  min-width: 480px;
}

.hero-img-bg{
  height: 300px;
  width: 700px;
  background: var(--Soft-Blue);
  border-radius: 10rem 0 0 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translateX(20rem);
}

@media screen and (max-width: 720px) {
  .section__hero-img img{
    min-width: 300px;
  }
  .hero-img-bg{
    height: 250px;
    width: 500px;
    background: var(--Soft-Blue);
    border-radius: 10rem 0 0 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translateX(15rem);
  }
  
}


/* ======== Features Section & Section Extension =========  */
.section__features .container, 
.section__extension .container,
.section__faq .container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.features__text, .section__extension-text{
  max-width: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.features__text h2{
  margin-bottom: 2rem;
}

.features__tabs-header{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 720px) {
  .features__tabs-header{
    flex-direction: column;
    gap: unset;
  }
}
.features__tabs-header p{
  padding: 1.5rem 0;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

@media only screen and (max-width: 720px) {
  .features__tabs-header p{
    padding: 0.25rem 0;
    border-top: 1px solid var(--Grayish-Blue);
  }
  .features__tabs-header p:last-child{
    border-bottom: 1px solid var(--Grayish-Blue);
  }
}


.features__tabs-header--active{
  color: var(--Very-Dark-Blue);
}
.features__tabs-header--active::after{
  content: "";
  display: block;
  padding-top: 1.5rem;
  border-bottom: 2px solid var(--Soft-Red);
  position: relative;
  
}

@media only screen and (max-width: 720px) {
  .features__tabs-header--active{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features__tabs-header--active::after{
    width: 40%;
    padding-top: unset;
  }
}

.features__tabs-content{
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 720px) {
  .features__tabs-content{
    flex-direction: column;
  }
}

.features__tabs-content--image{
  flex: 1;
}
.features__tabs-content--image img{
  width: 100%;
}
.features__tabs-content--text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

@media only screen and (max-width: 720px) {
  .features__tabs-content--text{
    text-align: center;
  }
}




/* ======== Extension Section =========  */
.section__extension .container{
  width: 100%;
  max-width: 800px;
}


.section__extension-cards{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap: 5rem;
  margin-top: 2rem;
}
.section__extension-card{
  padding: 1rem 0;
  position: relative;
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 2px 5px 12px 1px var(--Soft-Blue-Shadow);
  border-radius: 0.5rem;
}
.section__extension-card h4, .section__extension-card p{
  padding: 0 1rem;
}
.section__extension-card .btn__wrapper{
  padding: 0 1rem;
}

.section__extension-card-2{
  transform: translateY(2rem);
}
.section__extension-card-3{
  transform: translateY(4rem);
}

.dotted-divider{
  background: url(./images/bg-dots.svg);
  height: 4px;
}

/* ======== FAQ Section =========  */
.section__accordion{
  width: 100%;
  max-width: 500px;
}

.accordion-item{
  padding-bottom: 1.5rem;
}
.accordion-item::before{
  padding-bottom: 1.5rem;
  content: "";
  display: block;
  border-top: 1px solid var(--Grayish-Blue);
}
.accordion-item--header{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion-item h4 {
  font-weight: 400;
    transition: all .3s;
}
.accordion-item:hover h4 {
    color: var(--Soft-Red);
}
.accordion-item--text{
    margin-top: 3rem;
}
.accordion-item--text p{
    line-height: 1.85rem;
}


.accordion-item--header__btn{
  position: relative;
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
  transition: all .3s;
}
.accordion-item--active .accordion-item--header__btn{
  transform: rotate(180deg);
}

/* ======== Footer Section =========  */
footer{
  text-align: center;
  background: var(--Soft-Blue);
}
.section__footer-form{
  text-align: center;
  padding: 4rem 1rem;
  color: var(--White);
}
.section__footer-form h2{
  font-size: 2rem;
  color: var(--White);
}
.section__footer-form .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section__footer-form input{
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: none;
  font-family: inherit;
  width: fit-content;
}

@media only screen and (max-width: 720px) {
  .section__footer-form input{
    width: 100%;
  }
  
  .section__footer-form .btn{
    width: 100%;
  }
  
  
}

.section__footer-form form{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 720px) {
  .section__footer-form form{
    flex-direction: column;
  }
  
}

.section__footer{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.section__footer-links{
  background: var(--Very-Dark-Blue);
  width: 100%;
  padding: 2rem 1rem;
}

.section__footer-links nav{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 720px) {
  .section__footer-links nav{
    flex-direction: column;
    gap: 2.5rem;
  }
}



.wrapper__logo-list,
.footer__nav-list{
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media only screen and (max-width: 720px) {
  .wrapper__logo-list,
  .footer__nav-list{
    flex-direction: column;
}
}

footer .socials__wrapper{
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .nav-link{
  color: var(--White);
}

footer nav{
  padding: 1rem;
}

