@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  /* ## Colors */

  /* ### Primary */
  
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  
  /* ### Neutral */
  --Grayish-Blue: hsl(229, 8%, 60%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);

  --Font-size: 18px;
  --Font-family: 'Rubik', sans-serif;;
}
html{
  overflow-x: hidden;
}
body{
  font-size: var(--Font-size);
  font-family: var(--Font-family);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5{
  color: var(--Dark-Blue);
  font-weight: 500;
}

.btn{
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
}

.btn-primary{
  background: var(--Soft-Red);
  color: var(--White);
}
.btn-primary:hover{
  background: var(--Soft-Red);
  color: var(--White);
}
.btn-blue{
  background: var(--Soft-Blue);
  color: var(--White);
}
.btn-white{
  background: var(--White);
  color: var(--Soft-Blue);
}


header, .section{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

nav, .container{
  max-width: 1200px;
  width: 100%;
}

nav{
  padding: 0 1rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  padding-right: 1rem;
}

@media screen and (max-width: 740px) {
  nav .logo{
      text-align: start;
  }
}


.nav-list__container{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 15px;
}

.nav-list{
  display: flex;
  gap: 3rem;
}

.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Dark-Blue);
}

.section__hero {
  padding: 4rem 1rem;
}

.section .container{
  display: flex;
  align-items: center;
}

.section__hero-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section__hero-text h1{
  font-size: 3rem;
}
.section__hero-img{
  position: relative;
}

.section__hero-img img{
  position: relative;
  z-index: 3;
}

.hero-img-bg{
  height: 300px;
  width: 700px;
  background: var(--Soft-Blue);
  border-radius: 10rem 0 0 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  transform: translateX(15rem);
}